.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    position: relative;
}
.card button{
    position: absolute;
    right: -30px;
    top: -30px;
    width: 70px;
    height: 70px;
    z-index: 1;
    background-color: white;
}
.card button:hover{
    background-color: #0099e5;
}
.card-body{
    border: 1px solid skyblue !important;
}


i{
    font-size: xx-large;
}
.col-lg-3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}